In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [95]:
df_1 = pd.read_csv('/Users/wafic/Downloads/data/my_say/QAID.csv')

In [96]:
df_2 = pd.read_csv('/Users/wafic/Downloads/data/my_say/Questions_Answers.csv')

In [97]:
df_3 = pd.read_csv('/Users/wafic/Downloads/data/my_say/User_Question_Answer.csv', low_memory=False)

In [98]:
df_2.head(2)

,question_id,title,start_age,end_age,sex_id,category_id,nb_targets,nb_points,created_at,updated_at,topic_id,prefered_lang,rank,Total_Number_of_Answers,answer_id,description,Number_Of_Answers
0,21045,Are you trying to lose weight?,10,80,0.0,7,3000,1,2018-09-06 01:23:42,2018-09-06 15:12:03,0,0.0,0,3000,60570,Yes,1943
1,21045,Are you trying to lose weight?,10,80,0.0,7,3000,1,2018-09-06 01:23:42,2018-09-06 15:12:03,0,0.0,0,3000,60571,No,1057

In [99]:
quest = df_2[['question_id', 'sex_id', 'category_id']]

In [100]:
df_3.shape

(512410, 4)

In [101]:
df = df_3.merge(quest, on='question_id', how='inner')

In [102]:
df.shape

(1375049, 6)

In [103]:
df.head()

   user_id  question_id answer_id        datetimestamp  sex_id  category_id
0    10109        21045     60570  2018-09-06 16:18:02     0.0            7
1    10109        21045     60570  2018-09-06 16:18:02     0.0            7
2    10135        21045     60571  2018-09-06 15:20:57     0.0            7
3    10135        21045     60571  2018-09-06 15:20:57     0.0            7
4    10237        21045     60571  2018-09-06 13:30:05     0.0            7